[Unit]
Description=proletarka transport service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/proletarka_transport
EnvironmentFile=/opt/proletarka_transport/.env
ExecStart=/opt/proletarka_transport/transport
Restart=on-failure
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
